.pic {
    width: 50px;
    height: 50px;
    object-position: center;
    object-fit: cover;
    border-radius: 100px;
    vertical-align: middle;
}

.input-bar {
    vertical-align: middle;
    border: none;
    width: 250px;
}

.tweet {
    font-family: Arial;
    vertical-align: middle;
    background-color: rgb(5, 163, 255);
    color: white;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 20px;
}

div {
    border: none;
    display: inline-block;
    box-shadow: 0 0 5px black;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
